{% extends "base.html"%}

{% block title %}
    Drones
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home.css')}}">
{% endblock %}

{% block header %}
    <div class="ellipse"></div>
    <span class="slogan">
        <p>ТЕХНОЛОГІЇ</p>
        <p>ЯКІ ЗМІНЮЮТЬ РЕАЛЬНІСТЬ</p>
    </span>
    <img class="drones" src="{{ url_for('home.static', filename= 'icon/drones.svg') }}" alt="">
    
    <div class="to-catalog">
        <p>Передові технології в новому місці.</p>
        <p>Обирай найкраще для найважливішого.</p>
        <button id="to-catalog-button" type="button"><a href="/shop">ДО КАТАЛОГУ</a></button>
    </div>
{% endblock %}


{% block content %}
    <div class="about-us">
        <h1>ПРО НАС</h1>
        
        <p>Ми — команда, що об'єднує технології та надійність. </p>
        <p>Пропонуємо дрони й тепловізори, перевірені у найскладніших умовах.</p>
        <p>Обираємо тільки те, чому довіряємо самі.</p>
        
        <button id="read-more" type="button">ЧИТАТИ БІЛЬШЕ<img src="{{ url_for('home.static', filename= 'icon/arrow.svg') }}" alt=""></button>
    </div>



    <div class="new">
        <h1>НОВЕ НА САЙТІ</h1>
        <div id="new-img-container">
            <div class="new-drones" >    
                <img class = "drone-new" src="{{ url_for('home.static', filename= 'media/images/drone_1.png') }}" alt="">
                <img class = "background-new" src="{{ url_for('home.static', filename= 'media/images/river.png') }}" alt="">
                <div class="new-text" id="new-1">
                    
                    <div id="new-name-description">
                    <p id="new-name">DJI Mini 4k</p>
                    <span>Easy-to Use Mini Camera Drone</span>
                    </div>
                    
                    <div class = "buy">
                        <p>from 100$ to 299$</p>
                        <button type = "button" class="new-buy-button">КУПИТИ <img src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}" alt=""></button>
                    </div>
                </div>
              
            </div>
            <div class="new-drones">
                <img src="{{ url_for('home.static', filename= 'media/images/drone_2.png') }}" alt="" class="drone-new">
                <div class = "background-new">
                    <div class="new-text" id="new-2">
                    
                        <div id="new-name-description">
                        <p id="new-name">DJI Mini 4k Pro</p>
                        <span>Easy-to Use Mini Camera Drone</span>
                        </div>
                        
                        <div class = "buy">
                            <p>from 100$ to 299$</p>
                            <button type = "button" class="new-buy-button">КУПИТИ <img src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-drones">
                <img class = "drone-new" src="{{ url_for('home.static', filename= 'media/images/drone_1.png') }}" alt="">
                <div class = "background-new"></div>
                <div class="new-text" id="new-3">
                    
                    <div id="new-name-description">
                    <p id="new-name">DJI Mini 4k</p>
                    <span>Easy-to Use Mini Camera Drone</span>
                    </div>
                    
                    <div class = "buy">
                        <p>from 100$ to 299$</p>
                        <button type = "button" class="new-buy-button">КУПИТИ <img src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="catalog-container">
        <h1>КАТАЛОГ</h1>
        <div class="catalog">
            <div class = "catalog-product">
                <img class = "catalog-img" src="{{ url_for('home.static', filename= 'media/images/drone_2.png') }}" alt="">             
                <div class = "catalog-price">
                    <h2>DJI Mini 4K</h2>
                    <div id="discount-container">
                        <p id = "discount">29 900$</p>
                        <p id="price-with-discount">29 900$</p>
                    </div>
                </div>
            </div>
            <div class = "catalog-product">
                <img class = "catalog-img" id="catalog-3" src="{{ url_for('home.static', filename= 'media/images/drone_3.png') }}" alt="">
                <div class = "catalog-price">
                    <h2>DJI Mini 4K</h2>
                    <p>29 900$</p>
                </div> 
            </div>
            <div class = "catalog-product">
                <img class = "catalog-img" src="{{ url_for('home.static', filename= 'media/images/drone_4.png') }}" alt="">
                <div class = "catalog-price">   
                    <h2>DJI Mini 4 Pro</h2>
                    <p>29 900$</p>
                </div >
            </div>
            <div class = "catalog-product">
                <img class = "catalog-img" src="{{ url_for('home.static', filename= 'media/images/drone_5.png') }}" alt="">
                <div class = "catalog-price">
                    <h2>DJI Flip</h2>
                    <p>29 900$</p>
                </div>
            </div>

        </div>
        <button id = "view-all-button"> <a href="/shop">ДИВИТИСЬ ВСІ</a><img id= "catalog-arrow" src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}" alt=""></button>
    </div>

{% endblock %}


