<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %}</title>
        {% block links %}  {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/logo.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/footer.css') }}">
    </head>
    <body>
        <header>
            {% block header %}
                
            {% endblock %}
            <nav class="nav-header">
                <span class="links">
                    <a href="/shop">КАТАЛОГ</a>
                    <a href="/about">ПРО НАС</a>
                    <a href="/contacts">КОНТАКТИ</a>
                </span>

                <div class="logo">
                    <a href = "/">
                        <img src="{{ url_for('static', filename= 'icon/logo.svg') }}" alt="">
                    </a>
                </div>

                <span class="profile">
                    <button type="button" id="cart-button">
                        <div class = 'full-cart' id="full-cart">
                            <span></span>
                        </div>
                        <div class="cart"></div>
                    </button>
                        
                    
                    {% if current_user.is_authenticated %}
                        <p>{{ current_user.username }}</p>
                    {% else %}
                        <button type="button" id="auth-registr-button">
                            <div class="img-profile"></div>
                        </button>
                    {% endif %}
                </span>
            </nav>

            <div id="cart-modal" style="display: none;">
                <iframe src= "/cart" frameborder="0" class="iframe-cart"></iframe>
            </div>

            
                <div id="auth-registr-modal" style="display: none;">
                    <iframe src= "/authorization" frameborder="0" class="iframe-auth-registr"></iframe>
                </div>
                <div class="background-blur-div" style="display: none;"></div>
            

        </header>
        <main>
        
            {% block content %} 
            {% endblock %}
        </main>
        <footer>
            <div class="ellipse-footer"></div>
            <img class = 'logo-footer' src="{{ url_for('static', filename= 'icon/logo_footer.svg') }}" alt="">
            <div class="client-container">
                
                <div class="client">
                    <span>1K+</span>
                    <p>Успішних відправок</p>
                </div>
                <div class="client">
                    <span>1.5K+</span>
                    <p>Задовалених клієнтів</p>
                </div>
                <div class="client">
                    <span>24/7</span>
                    <p>Підтримка клієнтів</p>
                </div>
            </div>
            <div class="footer-details">
                <a href="/shop">КАТАЛОГ</a>
                <a href="/about">ПРО НАС</a>
                <a href="/contacts">КОНТАКТИ</a>
                <a href="/cart">КОШИК</a>
                <a href="/profile">КАБІНЕТ</a>
            </div>
            <hr>
            <p class="drones-footer">© 2025 Drones Всі права захищені.</p>
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>
</html>