<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/auth-registr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
</head>
</head>
<body>
        <div class="modal-header">
            <div>
                <a href="/authorization" id = 'auth-link'  style="color: var(--darkblue);">Авторизація</a>
                <span>/</span>
                <a href="/registration" id = 'registr-link' style="color: var(--grey);">Реєстрація</a>
            </div>
            <button id= "close-auth-registr" onclick="closeAuthRegistr()"></button>
        </div>
    
        <div class="modal-body">
            <form action="" method="post">
                <div class="inputs-container">
                    
                    <div class="email">
                        <p><label for="email" class = "label">Email</label></p>
                        <input type="email" id= "email" name="email" placeholder="Введіть email" required>
                    </div>
                
                    <div class="password">
                        <p><label for="password" class = "label">Пароль</label></p>
                        <input type="password" id="password" name="password" placeholder="Введіть пароль" required>
                        <button class="password-eye" type="button"></button>
                    </div>
                
                    <a href="/restore-password" id="restore-password" class = "forget-password">Забули пароль?</a>
                </div>
                <div class="buttons-container">
                    <button type="button" onclick="closeAuthRegistr()" class = "cancel-button">Скасувати</button>
                    <button class = "login-button">Увійти</button>
                    {% if is_authenticated %} 

                    {% endif %}
                </div>
            </form>
        </div>
</body>
<script src="{{ url_for('user.static', filename= 'js/auth-registr.js') }}"></script>
</html>