{% extends 'base.html' %} 

{% block title %}
    Contacts data
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/account.css' )  }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/contacts-data.css' )  }}">
{% endblock %}


{% block content %}
<div class="content">
        <div class="account">
            <h2>ОСОБИСТИЙ КАБІНЕТ</h2>

            <a href="/account?page=contacts_data" class="chosen">Контактні дані</a>  

            <a href="/account?page=my_orders">Мої замовлення</a>

            <a href="/account?page=delivery_address">Адреса доставки</a>
           
            <hr>
            
            <a href="/logout" class="logout">Вийти</a>
        </div>
        <div class="contacts-form">
            <h2>Контактні дані</h2>

            <form class="inputs" method="post" >
                <div>
                    <label for="lastname">Прізвище</label>
                    <input placeholder="Ваше Прізвище" name="lastname" id="lastname">
                </div>

                <div>
                    <label for="username">Ім'я</label>
                    <input type="text" placeholder="Ваше Ім'я" name="username" id="username">
                </div>
                <div>
                    <label for="middlename">По батькові</label>
                    <input type="text" placeholder="По батькові" name="middlename" id="middlename">
                </div>
                <div>
                    <label for="dateofbirth">Дата народження</label>
                    <input type="date" placeholder="DD/MM/YYYY" name="dateofbirth" id="dateofbirth">
                </div>
                <div>
                    <label for="phone">Телефон</label>
                    <input type="tel" placeholder="+38 0" name="phone" id="phone">
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" placeholder="Ваш E-mail" name="email" id="email">
                </div>

                <button type="submit" class="save-changes">Зберегти зміни</button>
            </form>
        </div>

</div>
{% endblock %}