<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restore password</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/auth-registr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
</head>
<body>
        <div class="modal-header">
            {% if step == 1 %}
                 <h2>Відновлення пароля</h2>
            {% else %}
                 <h2>Новий пароль</h2>
            {% endif %}
            <button id= "close-auth-registr" onclick="closeAuthRegistr()"></button>
        </div>  
    <div class="modal-body"> 
        {% if step == 1 %}
            <form method="post">
                <div class="inputs-container">
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Введіть email" required>
                    </div>
                </div>
        
                <div class="buttons-container">
                    <button type="button"  class="cancel-button-rest-pass"><a href="/authorization" onclick="closeAuthRegistr()">Скасувати</a></button>
                    <button type="submit" class="reg-button">Надіслати лист</button>
                </div>
            </form>
        {% else %}
            {% if step == 2 %}
                    <form action="" method="POST"> <label>Пароль</label>
                        <input type="password" name="password" required>
                        
                        <label>Підтвердження паролю</label>
                        <input type="password" name="confirm_password" required>

                        <div class="buttons-container">
                            <button type="button" class="btn-secondary" onclick="closeAuthRegistr()">СКАСУВАТИ</button>
                            <button type="submit" class="btn-primary"><p>ЗБЕРЕГТИ НОВИЙ ПАРОЛЬ</p></button>
                        </div>
                    </form>
            {% else %}
                    <div class = "success-form">
                        <div class = "success-text">
                            <p class = "reg-licension">Пароль успішно змінено!</p>
                        <p class = "reg-licension">Тепер ви можете увійти з новим паролем.</p>
                        </div>
                        <div class = "success-button">
                            <a href="/authorization"><button class = "login-button" type = button >Увійти</button></a>
                        </div>
                    </div>
            {% endif %}

        {% endif %}
    </div>
    <p id ="step" style="display: none;">{{step}}</p>
</body>
<script src="{{ url_for('user.static', filename= 'js/auth-registr.js') }}"></script>
</html>