

@font-face {
    font-family: GT Walsheim Pro;
    src: url(fonts/GTWalsheimPro-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body *{
    font-family: GT Walsheim Pro;
}

.product{
    display: flex;
}