body{
    overflow: hidden;
}

main{
    width: 100%;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    height: 100%;
    overflow: hidden;
}

.modal-body-empty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21.6rem;
    padding: 1re;
    width: 100%;
    gap: 1rem;
}

.product-container{
    height: 56vh;
    width: 96vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.product{
    display: flex;
    width: 94vw;
    height: 27.6vh;
    padding: 2.1vh;
}

.product img{
    width: 17.5vw;
    height: 18vh;
    background-color: #F4F4F4;
    border-radius: 1.2vh;
}

.product-id{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-id hr{
    width: 92%;
    border: 1px solid #CED0D4;
}

.product-content{
    display: flex;
    justify-content: space-between;
}

.name-price{
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
    padding-left: 3vw;
}

.name-price h4{
    font-size: 4.5vh;
}

.name-price p{
    font-weight: 600;
}

.modal-header{
    width: 100%;
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw 0vh 2vw;
    font-size: 1.75rem;
}

.price{
    width: 50vw;
    height: 10.4vh;
}

.plus, .minus{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    border: 0.1vh solid var(--lightgrey);
    font-size: 4vh;
    color: var(--bluegrey);
}

.buttons{
    width: auto;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.buttons span{
    font-size: 4vh;
}

.delete{
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border:none;
    background-image: url('/cart/static/icon/trash.svg');
    background-size: contain;

}

.global-price{
    text-decoration: line-through;
    font-weight: 600;
}

.discount{
    color: var(--grey);
    font-weight: 600;
}

.final-price{
    color: var(--red);
    font-weight: 600;
    font-size: 3vw;
}

.go-to-cart, .create-order, .empty-cart-button{
    font-family: GT Walsheim Pro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    font-weight: 500;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    gap: 1vw;
    font-size: 0.8rem;
}

.go-to-cart, .empty-cart-button{
    width: 33.3vw;
    height: 2.6rem;
    background-color: #FFFFFF;
    border: 0.3vh solid var(--darkblue);
    font-weight: bold;
    color: var(--darkblue);
}

.create-order{
    width: 40.3vw;
    height: 6.7vh;
    background-color: var(--darkblue);
    border: none;
    color: #FFFFFF;
}

.buy-buttons{
    display: flex;
    justify-content: end;
    margin-top: 3vh;
    gap: 1vw;
    padding-right: 2vw;
}

.prices{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.modalContent-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92.5vw;
    gap: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;    
    padding-left: 1vw;

}

.product-container::selection {
  background-color: rgb(197, 209, 211); 
  color: var(--darkblue); 
}

.product-container::-webkit-scrollbar {
    background-color: none;
    height: 30%;
    width: 1vw;
}

.product-container::-webkit-scrollbar-track {
    background-color: #9EA0AA;
    border-radius: 2vh;
}

.product-container::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 2vh;
}

.product-container::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: var(--darkbluehover);
}

.cart-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    align-items: center;
    font-size: 1.25rem;
    color: #6D717F;
}

.buttons-r{
    display: flex;
    justify-content: end;
    width: 92.5vw;
}

#close-cart{
    width: 2vw;
    height: 2vw;
    background-color: transparent;
    border: none;
    background-image: url(/cart/static/icon/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.hr{
    height: 2px;
    width: 92.5vw;
    background-color: var(--lightgrey);
}