@font-face {
    font-family: GT Walsheim Pro;
    src: url(fonts/GTWalsheimPro-Regular.ttf);
}

:root{
    --darkblue: #0C122A;
    --darkbluehover: #080417;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button{
    transition: transform 0.5s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}

body *{
    font-family: GT Walsheim Pro;
}

body{
    overflow: hidden;
}

#modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    height: 100vh;
    overflow: hidden;
    padding: 2vw;
}

#product-container{
    height: 60vh;
    width: 96vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.product{
    display: flex;
    width: 94vw;
    height: 27.6vh;
    padding: 2.1vh;
}

.product img{
    width: 17.5vw;
    height: 18vh;
    background-color: #F4F4F4;
    border-radius: 1.2vh;
}

.product hr{
    width: 41vw;
    background-color: #CED0D4;
}

#modal-header{
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw 0vh 2vw;
    font-size: 4vh;
}

.modalContent-description{
    display: flex;
    justify-content: space-beetwen;
}

.plus, .minus{

}

.delete{
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border:none;
    background-image: url('/cart/static/icons/trash.svg');
    background-size: contain;
}

#discount{
    color: #9EA0AA;
}

#final_price{
    color:#B62D11;
    font-family: GT Walsheim Pro Bold;
}

#go-to-cart{
    font-family: GT Walsheim Pro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6vh;
    width: 30.8vw;
    height: 6.9vh;
    margin-top: 2vh;
    background-color: #FFFFFF;
    border: 0.3vh solid var(--darkblue);
    font-weight: bold;
    font-size: 3.7vh;
    gap: 1vw; 
    color: var(--darkblue);
    padding-top: 2.7vh;
    padding-bottom: 2.7vh;
    padding-left: 3.8vw;
    padding-right: 3.8vw;
}

#create-order{
    font-family: GT Walsheim Pro;
    width: 40.4vw;
    height: 6.7vh;
    border-radius: 6vh;
    background-color: var(--darkblue);
    margin-top: 3vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    color: #FFFFFF;
    font-size: 3.7vh;
    padding-top: 2.7vh;
    padding-bottom: 2.7vh;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
}

#buy-buttons{
    display: flex;
    justify-content: end;
    gap: 0.875rem;
}

.button-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#product-container::selection {
  background-color: rgb(197, 209, 211); 
  color: var(--darkblue); 
}

#product-container::-webkit-scrollbar {
    background-color: none;
    height: 30%;
    width: 1vw;
}

#product-container::-webkit-scrollbar-track {
    background-color: #9EA0AA;
    border-radius: 2vh;
}

#product-container::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 2vh;
}

#product-container::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: var(--darkbluehover);
}
