body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

input{
    width: 89vw;
    height: 2.5rem;
    color: var(--grey);
    border: 1px solid var(--inputgrey);
    padding: 0rem 3.5vw 0rem 3.5vw;
    font-size: 1rem;
    border-radius: 0.25rem;
}

input::selection{
    border: 1px solid var(--grey);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.75rem;
    padding: 1rem 5.3vw 1rem 5.3vw;
    font-size: 1.75rem;
    font-weight: 600;
}

.modal-header a, h2{
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: none;
    font-weight: 600;
}


.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    height: auto;
    width: 100%;
    padding: 1rem 5.3vw 1rem 5.3vw;
    overflow: hidden;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 89vw;
}

.inputs-container div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 89vw;
    height: 4rem;
}

.password-eye{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(../icon/eye-not-show.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: 2.25rem;
    right: 3.6vw;
}

.forget-password, #log-in-link{
    color: var(--grey);
    text-decoration: underline;
}

.buttons-container{
    display: flex;
    gap: 1vw;
    margin-top: 2.7rem;
}

.cancel-button, .cancel-button-rest-pass, .login-button, .reg-button, .send-button, .come-button{
    text-transform: uppercase;
    border-radius: 6vh;
    letter-spacing: 9%; 
    letter-spacing: 0.1rem;
}

.cancel-button-rest-pass, .cancel-button{
    border-radius: 6.25rem;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    border: 0.15rem solid #0C122A;
    font-weight: 600;
    font-size: 1rem;
}

.cancel-button-rest-pass a{
    color: #0C122A;
}

.reg-button, .login-button, .send-button{
    height: 2.5rem;
    background-color: #0C122A;
    border: none;
    color: #FFFFFF;
}

.reg-button{
    width: 11rem;
    margin-bottom: 1rem;
}

.login-button{
    width: 5.3rem;
}

.reg-licension{
    color: var(--grey);
}

.public{
    color: var(--red);
}

.buttons-container, .button-licence{
    color: var(--darkblue);
}

#close-auth-registr{
    width: 0.75rem;
    height: 0.75rem;
    background-color: transparent;
    border: none;
    background-image: url(/cart/static/icon/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.send-button{
    width: 10rem;
    border-radius: 6.25rem;
}

.successful-registration{
    color: var(--grey);
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
}

.success-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 3.75rem;
    padding: 1.5rem 5.3vw 0.6rem 5.3vw;
    font-size: 1.75rem;
    font-weight: 600;
}

.success-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.75rem;
    height: auto;
    width: 100%;
    padding: 1rem 5.3vw 1rem 5.3vw;
    margin-top: 5vh;
    overflow: hidden;
}

.come-button {
    height: 3rem;  
    width: 15rem;
    background-color: #0C122A;
    border: none;
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}