.address, .address-container, .address-form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.address-container{
    width: 46vw;
    height: fit-content;
}

.address-div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid var(--grey);
    padding: 0.4rem 1rem 0.4rem 1rem;
    width: 100%;
    gap: 1rem;
}

.closed-div{
    display: flex;
    justify-content: space-between;
    height: 2.75rem;
    width: 44vw;
}

.closed-div button{
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    background-image: url(../icon/change.svg);
}

.add-address, .save-changes{
    border-radius: 6.25rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
}

.save-changes{
    width: 10vw;
    border: 2px solid var(--darkblue);
    color: var(--darkblue);
}

.add-address{
    width: 12vw;
    border: 2px solid var(--grey);
    color: var(--grey);
}

.closed{
    height: 2.75rem;
    align-items: center;
}

.closed-div input{
    width: 1.8rem;
    height: 1.8rem;
}
.closed-div div{
    display: flex;
    align-items: center;
    gap: 1vw ;
}
.openned{
    height: 36rem;
    align-items: start;
    
}

.inputs-container form{
    display: flex;
    flex-direction: column;
    width: 44vw;
    height: 31.25rem;
    gap: 1.5rem;
}

.address-input-div, .city-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.inputs-container input{
    width: 100%;
    border: 2px solid var(--lightgrey);
    border-radius: 0.4rem;
    color: var(--darkblue);
    font-size: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    height: 2.5rem;
}

.address-input-div{
    height: 4rem;
}

.default-cities a{
    font-size: 0.8rem;
    text-decoration: underline;
    color: var(--darkblue);
}

.city-div{
    height: 6rem;
}