{% extends 'base.html' %} 

{% block title %}
    Shop
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css' ) }}">
{% endblock %}


{% block content %}
    <h1>Каталог</h1>

    <!-- Якщо користувач є адміном то він може додавати новий продукт до БД -->
    {% if current_user.is_admin %}
        <div>
            <!-- форма створення нового товару -->
            <form action="/shop?type=add" method="post" enctype="multipart/form-data">
                <input type="text" name="product_name" placeholder="">
                <input type="number" name="price" placeholder="">
                <input type="number" name="discount" placeholder="">
                <input type="number" name="count" placeholder="">

                <textarea name="description" id="" placeholder=""></textarea>
                <input type="file" name="image" accept="image/*">

                <button type="submit">SEND</button>
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div id="wrapper">
        <form action="/shop?type=filter" method="post" class = "filter_buttons">
            <button class = "button" type="submit" name="filter" value="all">Всі</button>
            <button class = "button" type="submit" name="filter" value="drone"><img src="{{ url_for('shop.static', filename= 'images/products/DJI Mini 4k.png') }}" alt=""></button>
            <button class = "button" type="submit" name="filter" value="camera"><img src="{{ url_for('shop.static', filename= 'images/products/Тепловізор ATN OTS-XLT 160 2.5-10X.png') }}" alt=""></button>
        </form>
        <div id="products">

            {% if list_product %}
                {% for product in list_product %}
                <!--  <div id="product-1">  -->
                    <div id="product-{{product.id}}" class="product"> 
                        <img src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" width="200px" height="200px">
                        <h3>{{product.product_name}}</h3>
                        
                        <h3>{{product.price|string| replace('000', ' 000')}}₴</h3>
                        <!-- <a href="/buy?id={{product.id}}">BUY</a> -->
                        <button type="button" class="buy" id="{{product.id}}">Купити</button>
                    
                        {% if current_user.is_admin %}  
                            <!-- <a href="/delete_product?id={{product.id}}">DELETE</a> -->
                            <button type="button" id="delete" value="{{product.id}}">Видалити</button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class = "pagination">
            <img src="{{ url_for('shop.static', filename= 'icons/pagination.svg') }}" alt="">
            <button class="pagination-page" type="button" id="pagination1">1</button>
            <button class="pagination-page" type="button">2</button>
            <button class="pagination-page" type="button">3</button>
            <button class="pagination-page" type="button">4</button>
            <button class="pagination-page" type="button">5</button>
            <button class="pagination-page" type="button">6</button>
            <button class="pagination-page" type="button">7</button>
            <img src="{{ url_for('shop.static', filename= 'icons/pagination.svg') }}" alt="" id="end-page">
        </div>
    </div> 
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('shop.static', filename= 'js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/addProductIdToCookies.js') }}" ></script>
    <script src="{{ url_for('shop.static', filename= 'js/filter.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/deleteProduct.js') }}"></script>
{% endblock %}
