{% extends 'base.html' %} 

{% block title %}
    Shop
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css' ) }}">
{% endblock %}


{% block content %}
    <h1>Каталог</h1>

    <!-- Якщо користувач є адміном то він може додавати новий продукт до БД -->
    {% if current_user.is_admin %}
        <div>
            <!-- форма створення нового товару -->
            <form action="/shop?type=add" method="post" enctype="multipart/form-data">
                <input type="text" name="product_name" placeholder="">
                <input type="number" name="price" placeholder="">
                <input type="number" name="discount" placeholder="">
                <input type="number" name="count" placeholder="">

                <textarea name="description" id="" placeholder=""></textarea>
                <input type="file" name="image" accept="image/*">

                <button type="submit">SEND</button>
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% endif %}

     <!-- <form action="/shop?type=filter" method="post">
        <form action="/shop?type=filter" method="post">
        <button type="submit" value="all" name="type_product">Вcі</button>
        <button type="submit" value="drone"  name="type_product">Тепловізори</button>
        <button type="submit" value="camera"  name="type_product">Дрони</button>
    </form>
    </form> -->
    <!-- <select name="type_product" id="select"> 
        <option value="all">Всі</option>
        {% for type in list_types %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
    <button id="filter" type="button">Фільтрувати</button>
     Відображення продукту і його зображення  -->
    <div id="wrapper">
        <div id="products">
            <!-- <form action="/shop?type=filter" method="post" name="type_product">
                <button id="">
                    <option value="all">Всі</option>
                </button>
                <img src="{{ url_for('shop.static', filename= 'images/products/DJI Mini 4k.png') }}" alt="">
                <img src="{{ url_for('shop.static', filename= 'images/products/Тепловізор ATN OTS-XLT 160 2.5-10X.png') }}" alt="">
                <button name="type_product" type = "button">
                    <option value="drone">Drone</option>
                </button>

                <button type = "button">
                <option value="camera"></option>
                </button>
            </form>  -->

            <form action="/shop?type=filter" method="post">
                <select name="filter" id="">
                    <option value="all">All</option>
                    <option value="drone">Drones</option>
                    <option value="camera">Thermal Cameras</option>
                </select>
                <button type="submit">filter</button>
            </form>
            {% if list_product %}
                {% for product in list_product %}
                <!--  <div id="product-1">  -->
                    <div id="product-{{product.id}}" class="product"> 
                        <img src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" width="200px" height="200px">
                        <h3>{{product.product_name}}</h3>
                        
                        <h3>{{product.formatted_price}} ₴</h3>
                        <!-- <a href="/buy?id={{product.id}}">BUY</a> -->
                        <button type="button" class="buy" id="{{product.id}}">Купити</button>
                    
                        {% if current_user.is_admin %}  
                            <!-- <a href="/delete_product?id={{product.id}}">DELETE</a> -->
                            <button type="button" id="delete" value="{{product.id}}">Видалити</button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div> 
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('shop.static', filename= 'js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/addProductIdToCookies.js') }}" ></script>
    <script src="{{ url_for('shop.static', filename= 'js/filter.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/deleteProduct.js') }}"></script>
{% endblock %}
