*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@font-face {
    font-family: GT Walsheim Pro UltraBold;
    src: url(fonts/GTWalsheimPro-UltraBold.ttf);
}

@font-face {
    font-family: GT Walsheim Pro;
    src: url(fonts/GTWalsheimPro-Regular.ttf);
}


@font-face {
    font-family: GT Walsheim Pro Bold;
    src: url(fonts/GTWalsheimPro-Bold.ttf);
}


body *{
    font-family: GT Walsheim Pro;
}


body{
    display: flex;
    /* головнв вісь */
    flex-direction: column;
    /* позиціонування по головній вісі */
    justify-content: start;
    /* позиціонування по другорядній вісі */
    align-items: center;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

::selection {
  background-color: rgb(197, 209, 211); 
  color: rgb(48, 71, 114); 
}

::-webkit-scrollbar {
    background-color: none;
    height: 0.1vh;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: #7f8892;
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: #a6b2be;
}


