@font-face {
    font-family: GT Walsheim Pro UltraBold;
    src: url(fonts/GTWalsheimPro-UltraBold.ttf);
}

@font-face {
    font-family: GT Walsheim Pro;
    src: url(fonts/GTWalsheimPro-Regular.ttf);
}


@font-face {
    font-family: GT Walsheim Pro Bold;
    src: url(fonts/GTWalsheimPro-Bold.ttf);
}

:root{
    --darkblue: #0C122A;
    --darkbluehover: #080417;
    --grey: #9EA0AA;
    --lightgrey: #E7E7EA;
    --red: #B62D11;
    --bluegrey: #3D4155;
    --inputgrey: #CED0D4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body *{
    font-family: GT Walsheim Pro;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

button{
    transition: transform 0.5s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}

img{
    user-select: none;
}

::selection {
  background-color: rgb(197, 209, 211); 
  color: rgb(48, 71, 114); 
}

::-webkit-scrollbar {

    height: 0.1vh;
}

::-webkit-scrollbar-thumb {
    background: #7f8892;
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: #a6b2be;
}


