:root{
    --sizeImageProfile: 2.75vh;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
}

header a{
    transition: transform 0.5s;
}

header a:hover{
    transform: scale(1.05);
}

.iframe-cart, .iframe-auth-registr{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
}

#cart-modal{
    height: 83vh;
    width: 44vw;
    z-index: 3;
    position: fixed;
    top: 12vh;
    left: 50vw;
    background-color: #FFFFFF;
    border-radius: 2vh;
    box-shadow: 0.1vh 0.07vh 1.3vh rgb(19, 19, 19, 0.3);
}

#auth-registr-modal{
    position: fixed;
    bottom: 30vh;
    left: 50vw;
    transform: translate(-50%);
    background-color: #FFFFFF;
    width: 31vw;
    height: 22rem;
    border-radius: 1.2vh;
    z-index: 3;
}

.background-blur-div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 18, 42, 70%);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.nav-header{
    position: fixed;
    top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 7vh;
    padding: 10px 40px 10px 40px;
    border: 1px solid #E4E4E7;
    border-radius: 62px;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(10px);
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}

.links a{
    font-size: 1.75vh;
    color: #9EA0AA;
}

.links a:hover{
    color: #0C122A;
}

.profile{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
    width: 15vw;
}

.profile a div{
    width: var(--sizeImageProfile);
    height: var(--sizeImageProfile);
    background-repeat: no-repeat;
    background-size: var(--sizeImageProfile);
}

.profile button{
    border: none;
    background-color: transparent;
}

.cart{
    width: 1.5vw;
    height: 3.2vh;
    background-image: url('/static/icon/cart.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-profile{
    width: 1.5vw;
    height: 3.2vh;
    background-image: url('/static/icon/profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.cart:hover{
    background-image: url('/static/icon/cart_black.svg');
}

.img-profile:hover{
    background-image: url('/static/icon/profile_black.svg');
}

.full-cart{
    position: absolute;
    background-color: var(--red);
    width: 2vh;
    height: 2vh;
    margin-left: 0.7vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: smaller;
}