:root{
    --textColor: .0C122A;
}

main h1{
    color: #CDD5DD;
    margin-top: 10vh;
    font-family: GT Walsheim Pro UltraBold;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 94.5vw;
    height: fit-content;
    z-index: 3;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 22.4vw);
    grid-template-rows: repeat(auto, 42.7vh);
    width: 96vw;
    height: fit-content;
    row-gap: 2.8vh;
    column-gap: 3vw;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 20vw;
    height: 43vh;
    overflow: hidden;
    color: var(--textColor);
    transition: transform 0.9s;
    border-radius: 1.2vh;
    padding-left: 1vw;
    padding-bottom: 2vh;
}

.product:hover{
    transform: translateY(-2vh);
    box-shadow: 0.1vh 0.07vh 1.3vh rgb(19, 19, 19, 0.3);
}

.product-img{
    width: 15.5vw;
    height: 29.7vh;
    margin-left: 1.25vw;
    object-fit: contain;
}

.price-product{
    font-size: 1.5vh;
}

.product-dec{
    width: 20vw;
    height: 12vh;
    display: grid;
    grid-template-columns: 15vw 5vw;
}

.name-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 14vw;
    height: 12vh;
}

.name-container{
    width: 14vw;
    height: auto;
    font-size: 3vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    border: 1px solid #e7e7ea;   
    cursor: pointer;
    font-size: 3vh;
    color: #0C122A;
}

.button img {
    width: 4vw;
    height: 8vh;
    background: #FFFFFF;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid #e7e7ea;  
} 

.filter_buttons{
    display: flex;
    gap: 1.2vw;      
    margin-bottom: 5vh; 
}

.pagination{
    margin-left: 65.3vw;
    width: 29.1vw;
    height: 4.7vh;
    gap: 1vw;
    margin-top: 5vh;
}

.pagination-page{
    cursor:auto;
    user-select: none;
    width: 2.7vw;
    height: 4.7vh;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.pagination-page:hover{
    transform: none;
}

.pagination-page.active {
    background: #F4F4F4;
    font-weight: bold;
}

.end-page{
    transform: rotate(-180deg);
}

.product:hover .buy{
    opacity: 1;
}

.buy{
    width: 3vw;
    height: 6vh;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0.2vh solid .0C122A;  
    opacity: 0;
    margin-top: 3vh;
}