*{
    margin: 0;
    padding: 0;
}

.new h1{
    color: #CDD5DD;
    margin-bottom: 18.8vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5vh;
}

main{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.about-us{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37vw;
} 

.about-us h1{
    margin-bottom: 3vh;
    color: #CDD5DD;
}


.new{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20.3vh;
}

#new-img-container{
    display: flex;
    width: 94.5vw;
    justify-content: space-between;
    align-items: center;
}

.drone-new{
    
}

.background-new{
    position: absolute;
    top: 0;
    left: 0;
    height: 51.4vh;
    width: 30.3vw;
}

#new-text{
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 30.3vw;
    color: #FFFFFF;
    background-image: linear-gradient(to top, #F5BE4F 3%, transparent 100%);
}

#new-text h1{
    color: #FFFFFF;
}

.new-drones{
    position: relative;
    overflow: hidden;
    height: 51.4vh;
    width: 30.3vw;
    border-radius: 2vh;
}

#read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6vh;
    width: 16.8vw;
    height: 7vh;
    margin-top: 2vh;
    background-color: #FFFFFF;
    border: 0.3vh solid #0C122A;
    font-weight: bold;
    font-size: 2vh;
    gap: 1vw;
}

#read-more:hover{
    background-color: #eaeaec;
}










::-webkit-scrollbar {
    background-color: none;
    height: 0.1vh;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: #7f8892;
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: #a6b2be;
}

