*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5vh;
    font-family: GT Walsheim Pro UltraBold;
}

main{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.new h1{
    color: #CDD5DD;
    margin-bottom: 18.8vh;
    font-family: GT Walsheim Pro UltraBold;
}

.about-us{
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37vw;
} 

.about-us h1{
    margin-bottom: 3vh;
    color: #CDD5DD;
    font-family: GT Walsheim Pro UltraBold;
}


.new{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20.3vh;
}

.drone-new{
    position: absolute;
    width: 20.9vw;
    height: 45.8vh;
    bottom: 230;
    left: 65;
}

.background-new{
    top: 0;
    left: 0;
    height: 51.4vh;
    width: 30.3vw;
    border-radius: 2vh;
}

.new-text{
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 30.3vw;
    color: #FFFFFF;
    border-radius: 2vh;
}

.new-text h1{
    color: #FFFFFF;
}

.buy{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-top: 8vh;
    margin-right: 2vw;
    align-items: center;
}

.new-drones{
    position: relative;
    border-radius: 2vh;
    height: 51.4vh;
    width: 30.3vw;
    transition: all 0.9s;
    transform:translateY(6vh);
    opacity: 0;
}

.new-drones.visible{
    transform: translateY(0);
    opacity: 1;
}

.new-drones:hover, .catalog-product:hover{
    transform: translateY(-2vh);
    box-shadow: 0.1vh 0.07vh 1.3vh rgb(19, 19, 19, 0.3);
}

.new-buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6vh;
    width: 8.4vw;
    height: 4.7vh;
    margin-top: 2vh;
    background-color: transparent;
    border: 0.1vh solid #FFFFFF;
    font-size: 2vh;
    gap: 1vw;
    
    margin-bottom: 2vh;
}

.new-buy-button a{
    color: #FFFFFF;
    text-decoration: none;
}

.catalog{
    display: flex;
    gap: 1.6vw;
}

.catalog-container h1{
    color: #CDD5DD;
    margin-top: 10vh;
    font-family: GT Walsheim Pro UltraBold;
}

.catalog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.catalog-product{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: start;
    width: 22.3vw;
    height: 45vh;
    transition: transform 0.9s;
    border-radius: 2vh;
}

.catalog-img{
    width: 14.3vw;
    height: 31.5vh;
}

.catalog-price{
    display: flex;
    flex-direction: column;
    margin-right: 12vw;
    gap: 5vh;
}

#new-img-container{
    position: relative;
    display: flex;
    width: 94.5vw;
    justify-content: space-between;
    align-items: center;
}

#new-1{
    background-image: linear-gradient(to top, #F5BE4F 3%, transparent 90%);
}

#new-2{
    background-image: linear-gradient(to top, #1A271B 3%, transparent 90%);
}

#new-3{
    background-image: linear-gradient(to top, #4F94A4 3%, transparent 90%);
}

#new-name{
    font-size: 5vh;
}

#new-name-description{
    margin-top: 15.7vh;
    margin-left: 2vw;
}

#read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6vh;
    width: 16.8vw;
    height: 7vh;
    margin-top: 2vh;
    background-color: #FFFFFF;
    border: 0.3vh solid #0C122A;
    font-weight: bold;
    font-size: 2vh;
    gap: 1vw;
}

#read-more:hover{
    background-color: #eaeaec;
}

#discount-container{
    display: flex;
    gap: 1vw;
}

#catalog-3{
    width: 11.4vw;
    height: 25.2vh;
    margin-top: 4vh;
}

#discount{
    text-decoration: line-through;
}

#price-with-discount{
    color: #B62D11;
}

#catalog-arrow{
    width: 1.6vw;
    height: 2.8vh;
}
