
:root{
    --sizeImageDrone: 115vh;
}


body{
    overflow-x: hidden;
}

*{
    user-select: contain;
}

header{
    height: 100vh;
    background-color: #CDD5DD;
    z-index: 100;
}

.ellipse{
    /*  */
    position: absolute;
    top: 60vh;
    /*  */
    width: 110%;
    height: 90vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.drones{
    position: absolute;
    top: 10vh;
    width: var(--sizeImageDrone);
    height: var(--sizeImageDrone);
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    font-size: 8.24vh;
    color: #FFFFFF;
}

.slogan p{
    font-family: GT Walsheim Pro UltraBold;
}

.to-catalog{
    width: 23vw;
    height: 4.2vh;
    position: absolute;
    font-size: 2vh;
    margin-left: 63vw;
    margin-top: 76vh;
    font-size: 2vh;
}



#to-catalog-button, #view-all-button{
    width: 13vw;
    height: 6.1vh;
    border-radius: 6vh;
    background-color: #0C122A;
    margin-top: 3vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    z-index: 5;
}

#to-catalog-button:hover{
    background-color: #02040c;
}

#to-catalog-button a, #view-all-button a{
    color: #FFFFFF;
    font-size: 1.8vh;
    font-family: GT Walsheim Pro Bold;
    letter-spacing: 0.1vw;
}